.App {
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #376de0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px ;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #cbd4a0;
}
.logo{
  text-align: left;
}
.nss{
  text-align: right;
  margin:-120px 100px 10px 10px;
}
.container{
  text-align: center;
}
